@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0056b3;
  --secondary-color: #f8f9fa;
  --accent-color: #ff6b00;
  --text-color: #333333;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
